<!DOCTYPE html>
<html>
  <head>
    <title>Home - Wesley Soares - Desenvolvedor Web - Personal Page</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <header>

    </header>

    <main>
      <div class="container-top">
        <h1>Wesley <span>Soares</span></h1>
      </div>
      <div class="container-bottom">
        <ul>
          <li><a href="https://github.com/wesleybs90" class="icon-github icon-2x"></a></li>
          <li><a href="https://br.linkedin.com/in/wesleybs90" class="icon-linkedin icon-2x"></a></li>
          <li><a href="mailto:wesleybs90@gmail.com" class="icon-envelope icon-2x"></a></li>
        </ul>
      </div>
    </main>

  </body>
</html>
